<div class="catalog gadgetsCatalog">
{{#each user.gadgetsOwned}}
      <div class="shopGadget ownedZombie">
        <img src="{{icon}}">
        <h4>{{name}}</h4>
        <p>Level: {{tier}}</p>
      </div>
{{/each}}
</div>