    <div class="ownedZombie">
            <div class="ownedZombieDetail">
                <div class="zombieImg">
                    <img src="{{zombie.origin.image}}">
                </div>
                <div class="gadgetsEquipped">
                    <div>
                        <img src="/images/gadgets/axe.png">
                    </div>
                    <div>
                        <img src="/images/gadgets/axe.png">
                    </div>
                    <div>
                        <img src="/images/gadgets/axe.png">
                    </div>
                </div>
            </div>

        <p>Type: {{zombie.origin.type}}</p>

        <ul>
        {{#each zombie.origin.description}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
        
        <ul>
        {{#each zombie.origin.ability}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
        {{!-- <form action="/ownedZombieDetail" method="POSR"> --}}
        <button class="butn" type="submit" onclick="equipGadgets();">Equip</button>
        {{!-- </form> --}}
    </div>
