<div id="Profile" class="tabcontent profile">
  <h3>Welcome back {{ user.username }}</h3>
  <p>Your zombies miss you!</p>
  <p>You have : {{ user.brains }} <i class="fas fa-brain fa-2x"></i> left.</p>
</div>