{{#each userId.zombiesOwned}}
      <div>
        <h3>{{origin.type}}</h3>
        <ul>
        {{#each origin.description}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
{{/each}}