<div class="catalog">
{{#each user.zombiesOwned}}
      <div class="ownedZombie shopZombie">
        <div class="imageWrap">
            <img src="{{origin.image}}">
        </div>
        <h3>{{nickname}}</h3>
        <ul>
        {{#each origin.description}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
{{/each}}
</div>