<div class="commentForm">
    <form class="newComment" action="/story/{{id}}/comment" method="POST">
        <textarea class="form-control" name="text" cols="40" rows="5" placeholder="Text" autofocus required></textarea>
        <button type="submit">Comment</button>
    </form>
</div>