  <footer id="sticky-footer" class="py-3 mt-auto text-white-50">
    <div class="container text-center">
        <div class="text-center center-block">
            <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-lg"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="mailto:hello@myzombies.com"><i class="fa fa-envelope-square fa-lg"></i></a>
        <small>Copyright &copy; myZombies</small>
    </div>
  </footer>