  <footer id="sticky-footer" class="py-4 text-white-50">
    <div class="container text-center">
        <div class="text-center center-block">
            <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square social"></i></a>
            <a href="https://www.instagram.com"><i id="social-em" class="fa fa-instagram social"></i></a>
            <a href=""><i id="social-em" class="fa fa-pinterest-square social"></i></a>
            <a href=""><i id="social-em" class="fa fa-envelope-square social"></i></a>
        <small>Copyright &copy; myZombies</small>
    </div>
  </footer>