<footer id="static-footer" class="text-white-50">
  <div class="footerInfo">
    <small>Ironhack 2019 <i class="fas fa-rocket"></i></small>
    <br>
    <a href="https://github.com/ironhack-zombies/my-zombies" target="_blank"><small><i class="fas fa-code"></i> on
        GitHub</small></a>
  </div>
  <div class="socilaLinks">
    <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-lg"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram fa-lg"></i></a>
    <a href="mailto:hello@myzombies.com"><i class="fa fa-envelope-square fa-lg"></i></a>
  </div>
  <small><i class="far fa-copyright"></i> myZombies</small>
</footer>