<footer id="static-footer" class="mt-auto text-white-50">
  <small>Ironhack 2019 <i class="fas fa-rocket"></i></small>
  <div class="socilaLinks">
    <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-lg"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram fa-lg"></i></a>
    <a href="mailto:hello@myzombies.com"><i class="fa fa-envelope-square fa-lg"></i></a>
  </div>
  <small>&copy; myZombies</small>
</footer>