<form class="login" action="/login" method="POST">
  <div>
    <h1>Log in</h1>
  </div>
  <div>
    <input class="form-control" type="text" name="username" placeholder="Username" autofocus required>
  </div>
  <div class="input-group">
    <input type="password" name="password" placeholder="Password" id="password" autofocus required class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary togglePwd" type="button"><i class="fa fa-eye fa-lg"></i></button>
    </div>
  </div>
  <div>
    <button type="submit">Log in</button>
  </div>
</form>
