<form action="/users/login" method="POST">
  <input type="text" name="username" placeholder="Username" autofocus required>
  <input type="password" name="password" placeholder="Password" id="password" autofocus required><i class="fa fa-eye fa-lg togglePwd"></i>
  <input type="submit" value="Login">
</form>