{{!-- <form action="/users/login" method="POST">
  <input type="text" name="username" placeholder="Username" autofocus required>
  <input type="password" name="password" placeholder="Password" id="password" autofocus required><i class="fa fa-eye fa-lg togglePwd"></i>
  <input type="submit" value="Login">
</form> --}}


<form class="login" action="/users/login" method="POST">
  <div class="container-fluid">    
    <div class="column">
        <div class="col-sm-4">
          <div>
            <input class="form-control" type="text" name="username" placeholder="Username" autofocus required>
          </div>
        </div>
    </div>
    <div class="column">
        <div class="col-sm-4">
          <div class="input-group">
            <input type="password" name="password" placeholder="Password" id="password" autofocus required class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"><i class="fa fa-eye fa-lg togglePwd"></i></button>
            </div>
          </div>
        </div>
    </div>
    <input type="submit" value="Login">
  </div>
</form>

