<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img class="zombIcon" src="/images/favicon.png"> mZ</a>
{{#if user}}
        <span id="numberOfBrains">{{user.brains}} <i class="fas fa-brain"></i></span>
    {{#unless notYet}}
        <a  class="dailyGiftImg" href="/dailyGift"><i class="fas giftNoti fa-gift"></i></a>
    {{else}}
        <a  class="dailyGiftImg" href="/dailyGift"><button id="btnGift" class="start"><i class="fas fa-gift"></i></button> </a>
    {{/unless}}
{{/if}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
            {{#if user}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-store"></i> Shop</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/shop/zombies"><i class="fas fa-walking"></i> Zombies</a>
                    <a class="dropdown-item" href="/shop/gadgets"><i class="fab fa-redhat"></i> Gadgets</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/village"><i class="fas fa-users"></i> Village</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Log in</a>
            </li>
            {{/if}}
        </ul>
    </ul>

</nav>