<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">myZombies</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
            {{#if user}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/zombies" id="dropdown01" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Shop</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/zombiesForSale">zombies for sale</a>
                    <a class="dropdown-item" href="/gadgets">gadgets</a>
                    <a class="dropdown-item" href="/food">food</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/village">Village</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/signup">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
            </li>
            {{/if}}
        </ul>
    </ul>

</nav>