<form class="register" id="signup" action="/signup" method="POST">
    <div>
        <h1>Register</h1>
    </div>
    <div>
        <input class="form-control" type="text" name="email" placeholder="E-mail" id="registerEmail" onkeyup='checkRegisterForm();' required>
    </div>
    <div>
        <input class="form-control" type="text" name="username" placeholder="Username" id="registerUsername" onkeyup='checkRegisterForm();'
            required>
    </div>
    <div class="input-group">
        <input type="password" class="form-control" name="password" placeholder="Password" id="password" onkeyup='checkRegisterForm();'
            required>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary togglePwd" type="button" onclick="togglePwd(event);"><i class="fa fa-eye fa-lg"></i></button>
        </div>
    </div>
    <div>
        <input class="form-control" type="password" name="passwordConf" placeholder="Confirm Password" id="password_conf"
            onkeyup='checkRegisterForm();' required>
    </div>
    <div>
        <button type="submit" id="registerBtn" disabled>Register</button>
    </div>
</form>