<form class="newStory" action="/stories/new" method="POST">
    <input class="form-control" type="text" name="title" placeholder="Title" autofocus required>
    <textarea class="form-control" name="text" cols="40" rows="5" placeholder="Text" autofocus required></textarea>
    <button type="submit">Submit Story</button>
</form>