<form class="newStory" action="/stories/new" method="POST">
    <input class="form-control" type="text" name="title" placeholder="Title" autofocus required>
    <input class="form-control" type="text" name="text" placeholder="Text" autofocus required>
    <button type="submit">Submit Story</button>
</form>