<div class="about">
    <h5>Created by</h5>
    <div class="creaters">
    <div>
    <h4>the incredibly genius but extremely annoying zombie</h4>
    <img src="/images/Nikl.png"><h1>Nikl Eicker</h1>
    </div>
    <div>
    <h4>And the amazingly weird zombie</h4>
    <img src="/images/Jen.png"><h1>Jenn Phan</h1>
    </div>
    </div>
</div>