<div class="about">
    <h5>Created by</h5>
    <div class="creators">
        <div>
            <h4>the incredibly genius</h4>
            <img src="/images/Nikl.png"><h1>Nikl Eicker</h1>
        </div>
        <div>
            <h4>&</h4>
        </div>
        <div>
            <h4>the amazingly weird</h4>
            <img src="/images/Jen.png"><h1>Jenn Phan</h1>
        </div>
    </div>
</div>