  <div>
    <h3>A bucket of roten garbage</h3>
  </div>

  <div class="wrapper">
   <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="xmas" x="0" y="0" viewBox="0 0 370.1 340.1" xml:space="preserve" enable-background="new 0 0 270.1 140.1">      
   <style>
        .s0{
        overflow:visible;
        }
        .s1{
        clip-path:url(#SVGID_1_);
        fill:#422020;
        }
        .s2{
        clip-path:url(#SVGID_1_);
        fill:#4C4C4E;
        }
        .s3{
        fill:#DBC667;
        }
        .s4{
        fill:#B61F2B;
        }
      </style>  

      <g id="Presents">
        <g id="PresentB" class="box">
          <ellipse id="ShadowPresent" class="PresentBoxShadow" cx="185" cy="150" rx="81.8" ry="22.8" fill="#959689"/>
          <g class="PresentBox">

            <rect x="146.8" y="72" width="106.2" height="89.5" fill="#422020"/>

            <rect x="138" y="57.9" width="123.9" height="25.1" fill="#8A0303" class="boxTop"/>
            <rect x="185" y="57.5" width="10.4" height="104" fill="#DBC667" class="ribbonSide"/>

            <g class="PresentBoxRibbon">
              <polygon points="190.7 57.2 175.9 40.8 164.8 52.7 184.4 63.6 " fill="#DBC667"/>
              {{!-- <polygon points="184.4 63.5 163.9 61.1 164.8 52.6 " fill="#8A0303"/> --}}
              <polygon points="190.5 57.3 204.6 40.2 216.2 51.5 197.2 63.4 " fill="#DBC667"/>
              {{!-- <polygon points="197.2 63.4 217.5 60 216.2 51.5 " fill="#8A0303"/> --}}
            </g>

          </g>
        </g>

      </g>
    </svg>
  </div>