<div class="helpWrapper">
<div class="help">
<h4>hello, zombie lovers!</h4>

<p>
    here are a few tips for your journey with us in the zombie land.</p>

<ul>
    <li>
        everyone loves gift! That's why we have gift packages for you every now and then, so check in often to collect your BRAINSSSSS!
    </li>
    <li>
        in our wonderful shop, you can make all your fantasy comes true by buying your first zombie ever. There are also a great collection of gadgets found in the darkest and deepest corner of the world.
    </li>
    <li>
        the village is where folks from all over the place meet up and share their wonderful stories or exprerience with their zombies. You can also fight against wild zombies in the arena to get more brains.
    </li>
    <li>
        you can equip your zombies with different gadgets to increase its strength, and hence, increasing your chance of winning a fight in the arena!
    </li>
</ul>

<p>and finally enjoy your journey with your zombies</p>
</div></div>