<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Profile')" id="defaultOpen">
    <i class="fa fa-user"></i> 
    <span>Profile</span>
  </button>
  <button class="tablinks" onclick="openTab(event, 'Gift')">
    <i class="fa fa-gift"></i> 
    <span>Daily Package</span>
  </button>
  <button class="tablinks" onclick="openTab(event, 'Collections')">
    <i class="fa fa-shopping-bag"></i> 
    <span>Collections</span>
  </button>
{{!--   
  <button class="tablinks" onclick="openTab(event, 'Zombies')">Zombies</button>
  <button class="tablinks" onclick="openTab(event, 'Gadgets')">Gadgets</button>
  <button class="tablinks" onclick="openTab(event, 'Food')">Food</button> --}}
</div>
<div id="Profile" class="tabcontent profile">
  <h3>Welcome back{{ user.username }}</h3>
  <p>Your zombies miss you!</p>
  <p>You have : {{ user.brains }} <i class="fas fa-brain fa-2x"></i> left.</p>
</div>

<div id="Gift" class="tabcontent">
  <h3>Daily Gift Package</h3>
</div>

<div id="Collections" class="tabcontent">
  <div class="tabVertical">
    <button class="tablinks1 vertical" onclick="openTab1(event, 'Zombies')">Zombies</button>
    <button class="tablinks1 vertical" onclick="openTab1(event, 'Gadgets')">Gadgets</button>
    <button class="tablinks1 vertical" onclick="openTab1(event, 'Food')">Food</button>
  </div>

  <div id="Zombies" class="tabcontent1">
    <h3>Zombies</h3>
    {{#each user.zombiesOwned}}
    <div>
      <h3>{{user.zombiesOwned.origin.type}}</h3>
    </div>
    {{/each}}
  </div>

  <div id="Gadgets" class="tabcontent1">
    <h3>Gadgets</h3>
  </div>

  <div id="Food" class="tabcontent1">
    <h3>Food</h3>
  </div>

</div>

{{!-- <div id="Gadgets" class="tabcontent">
  <h3>Gadgets</h3>
</div>

<div id="Food" class="tabcontent">
  <h3>Food</h3>
</div> --}}
