<div class="tab">
  <button class="tablinks active zombies" onclick="openTab(event, 'Zombies')">
  <i class="fas fa-walking"></i>    
  <span>Zombies</span>
  </button>
  <button class="tablinks" onclick="openTab(event, 'Gadgets')">
    <i class="fab fa-redhat"></i>    
    <span>Gadgets</span>
  </button>
</div>

  <div id="Zombies" class="tabcontent">
   {{>zombiesOwned}}
  </div>

  <div id="Gadgets" class="tabcontent">
   {{>gadgetsOwned}}
  </div>
