/* catalog page */

.search {
    margin: 20px 50px;
}


/* 
.search input {
    margin: 0;
    padding: 0 10px;
    border-radius: 3px;
    border: solid 1px lightgray;
}

.search input[type=text] {
    width: 70%;
}

.search input[type=submit] {
    width: 15%;
} */

.catalog img {
    width: 100%;
}

.catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.catalog a {
    color: #260703;
}

.catalog div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.fa-brain {
    color: rgb(230, 114, 114);
}