/* footer */

footer {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #422020;
}

.fa-facebook-square,
.fa-envelope-square,
.fa-instagram,
.fa-pinterest-square {
    color: #b5b69c;
    padding-right: 10px;
}