/* footer */

footer {
    min-height: 50px;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #422020;
}

footer .socilaLinks i {
    color: #b5b69c;
    padding: 0px 7px;
}

@media (max-width: 600px) {
    footer {
        padding: 15px 0px;
        flex-direction: column;
        justify-content: space-between;
    }

    footer .socilaLinks {
        padding: 15px 0px;
    }
}