
.login, .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login > div, .register > div {
    width: 400px;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.login button, .register button {
    width: 100px;
}

.login small a {
    text-decoration: none;
}

.register input.notValid,
.login input.notMatching {
    border-color: red;
    color: red;
}
