/* home page */

.col-lg-6 {
    padding: 50px;
}

.homePage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butn {
    color: #b8b9a9 !important;
    width: 120px !important;
    padding: 5px;
    background-color: #422020 !important;
    border-radius: 5px;
}

.homePage h1,
p {
    color: #260703;
}