/* nav bar */

.navbar {
    background-color: #422020;
}

.navbar a {
    text-decoration: none;
    color: #b5b69c;
}

.navbar a:hover {
    color: #7d7e73;
}

#numberOfBrains {
    padding-left: 13%;
    color: #b5b69c
}

#brainsAndGift {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#brainsAndGift i {
    padding: 0px 5px;
}

.dailyGiftImg i {
    padding: 0px 15px;
}

.dropdown-menu {
    background-color: #422020 !important;
    border: none !important;
}

.dropdown-item a {
    color: #b5b69c !important;
}

.dropdown-item {
    color: #b5b69c !important;
}

ul.collapse.navbar-collapse {
    margin: 0px;
}

@media (min-width: 600px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}

.fa-gift {
    color: #b5b69c;
}

.dailyGiftImg {
    padding: 0px 5px;
}


/* gift icon when gift package arrives */

.giftNoti {
    color: red;
    animation: color-change 2s infinite;
    -webkit-animation: color-change 2s infinite;
}

@keyframes color-change {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: red;
    }
}

.zombIcon {
    width: 30px;
}