/* user profile */


/* Style the horizontal tab */

.tab {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid #959689; */
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button.active {
    background-color: #b8b9a9;
}

.tabcontent.zombies {
    display: block;
}

.tabcontent {
    display: none;
    border-top: none;
}

.tabbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    padding-left: 40px;
    padding-top: 20px;
}

.gift {
    padding-left: 40px;
    padding-top: 20px;
}