/* COLOR PALETTE
Dust color: #b5b69c	(181,182,156)
Grey: #7d7e73	(125,126,115)
Dirty Pink: #876969	(135,105,105)
Liver: #6d4141	(109,65,65)
Dark Blood: #422020	(66,32,32) 
Blood (#8A0303), 
Blood Red (#660000), 
Root Beer (#260703) 
Tuscany (#C89498)
Zombie Skin (#415E3C)
Jungle (#4A7842)
Moss Green (#81913F)
Summer Wheat yellow (#DBC667)
Purple (#332335)
.*/

@import "nav.css";
@import "footer.css";
@import "homePage.css";
@import "form.css";
@import "catalogPage.css";
@import "profilePage.css";
@import "zombieDetail.css";
@import "village.css";
@import "dailyGift.css";
html,
body {
    box-sizing: border-box;
    min-height: 100vh;
}

#page-content {
    flex: 1 0 auto;
    background-color: #b8b9a9;
    color: #260703;
}

.hidden {
    display: none;
}

.about {
    width: 100%;
    height: 100%;
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about img {
    width: 35%;
}

.creators {
    display: flex;
    justify-content: center;
    align-items: center;
}

.creators div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .creators {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.help {
    width: 80%;
    padding: 3%;
}

.help ul li {
    margin: 10px 0;
}