.village {
    background-color: #cdcec3;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

.villageBoard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10%;
}

.villageBoard hr {
    width: 100%;
    height: 3px;
    color: grey;
}

.eachStory {
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.storyForm {
    margin: 5px;
}

.storyHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}