.village {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.village .divLink {
    position: relative;
    padding: 10px;
    margin: 50px 0px;
    text-align: center;
    height: 50%;
    width: 100%;
}

.village .divLink a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.villageBoard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10%;
}

.villageBoard hr {
    width: 100%;
    height: 3px;
    color: grey;
}


/* style for story board */

.eachStory,
.eachComment {
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.eachComment,
.commentForm {
    margin-left: 10%;
}

.commentForm input {
    padding: 10px;
}

.storyForm {
    margin: 5px;
}

.storyHeader,
.commentHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.commentHeader {
    flex-direction: row-reverse;
}

.likeButton {
    color: blue;
}

.likeButton.liked {
    color: lightgray;
}

.eachStory .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.eachStory .buttons .moreButton {
    position: relative;
}

.eachStory .buttons .moreButton a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* style for arena */

.fightResults,
.arena {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.arena h1 {
    text-align: center;
}

.arena div {
    margin-bottom: 20px;
}

#catFight {
    padding-bottom: 50px;
}

.selectBox select {
    background-color: #7d7e73;
    border-radius: 5px;
    color: white;
    padding: 20px;
    width: 250px;
    font-size: 20px;
    height: 45px;
}

.fightResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.result {
    font-size: 50px;
}

.backButn {
    color: #b8b9a9 !important;
    width: 250px !important;
    padding: 5px;
    background-color: #422020 !important;
    border-radius: 5px;
}

.fightResults a {
    text-decoration: none;
}

.fightResults .info {
    display: none;
    text-align: center;
}

p.warning {
    color: orange;
    font-weight: bold;
}