.fa-arrow-left {
    color: #7d7e73;
    margin: 10px 0 0 10px;
}

.zombieDetail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.zombImage {
    width: 40%;
}

.notEnoughBrain {
    color: red;
    font-size: 30px;
}

.bought {
    font-size: 20px;
    text-align: start;
    position: absolute;
}

.bought {
    margin-left: 50px;
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

.zombImage img {
    width: 100%;
}

.details {
    width: 60%;
    padding: 10% 0;
}

@media screen and (max-width: 600px) {
    .zombieDetail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.buyButton {
    width: 90px;
    background-color: #7d7e73;
    color: white;
    border-radius: 5px;
}