.fa-arrow-left {
    color: #7d7e73;
    margin: 10px 0 0 10px;
}

.zombieDetail {
    display: flex;
}

.zombImage {
    width: 40%;
}

.zombImage img {
    width: 100%;
}

.details {
    width: 60%;
    padding: 10% 0;
}

@media screen and (max-width: 600px) {
    .zombieDetail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}