<div class="arena">
  <h1>Welcome to the zombie arena</h1>
  {{#if zombies}}
  <p>Select one of your zombies to fight</p>
  <form action="/village/arena/fight" method="POST">
    <select name="zombie" id="zombie">
      {{#each zombies}}
      <option value="{{_id}}">{{nickname}}</option>
      {{/each}}
    </select>
    <button type="submit">Fight! (2 <i class="fas fa-brain"></i>)</button>
  </form>
  {{else}}
  <p>You currently have no zombies that are ready to fight</p>
  {{/if}}
  {{#if message}}
  <p>{{message}}</p>
  {{/if}}
</div>