<div class="fightResults">
  <div class="info">
    {{#ifvalue fight.won value="true"}}
    <h1>You won! Here is your reward:</h1>
    <p>{{fight.rewards.brains}} <i class="fas fa-brain"></i></p>
    {{else}}
    <p class="result">Oh no! You lost the fight <i class="far fa-frown"></i></p>
    {{/ifvalue}}
    <a href="/village/arena"><button class="backButn" type="submit">Back to the arena</button></a>
  </div>
  <div class="waiting">
    <p>Furiously fighting... please wait</p>
  </div>
  <img id="catFight" src="https://media.giphy.com/media/Knr5nIPwrYTHG/giphy.gif" alt="">
</div>

<script>
  window.onload = function () {
    setTimeout(function () {
      let info = document.querySelector(".fightResults .info");
      let waiting = document.querySelector(".fightResults .waiting");
      if (info) info.style.display = "block";
      if (waiting) waiting.style.display = "none";
      {{#ifvalue fight.won value="true"}}
      let brains = {{fight.rewards.brains}} + {{user.brains}}
      document.getElementById("numberOfBrains").innerText = brains
      {{/ifvalue}}
      document.getElementById("catFight").style.display="none";
    }, 5000)
  }
</script>