<div class="village">
  <div class="divLink">
    <a href="/village/storyBoard"></a>
    <h2><i class="fas fa-sign"></i></h2> <h2>Story board</h2>
  </div>
  <div class="divLink">
    <a href="/village/arena"></a>
    <h2><i class="fas fa-teeth-open"></i></h2> <h2>Zombie Arena</h2>
  </div>
</div>