/* COLOR PALETTE
Dust color: #b5b69c	(181,182,156)
Grey: #7d7e73	(125,126,115)
Dirty Pink: #876969	(135,105,105)
Liver: #6d4141	(109,65,65)
Dark Blood: #422020	(66,32,32) 
Blood (#8A0303), 
Blood Red (#660000), 
Root Beer (#260703) 
Tuscany (#C89498)
Zombie Skin (#415E3C)
Jungle (#4A7842)
Moss Green (#81913F)
Summer Wheat yellow (#DBC667)
Purple (#332335)

.*/

html,
body {
    height: 100vh;
}

#page-content {
    flex: 1 0 auto;
}


/* home page */

.col-lg-6 {
    padding: 50px;
}

.btn {
    width: 120px;
}


/* footer */

#sticky-footer {
    flex-shrink: none;
}

.fa-facebook-square,
.fa-envelope-square,
.fa-instagram,
.fa-pinterest-square {
    color: lightgrey;
    padding-right: 10px;
}


/* log in page */

.togglePwd {
    /* margin-left: -30px;
    margin-right: 30px; */
    cursor: pointer;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login div {
    width: 25%;
}


/* register page */

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form input {
    width: 30%;
    margin-bottom: 20px;
    padding: 5px;
}

.register-form div {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}