/* COLOR PALETTE
Dust color: #b5b69c	(181,182,156)
Grey: #7d7e73	(125,126,115)
Dirty Pink: #876969	(135,105,105)
Liver: #6d4141	(109,65,65)
Dark Blood: #422020	(66,32,32) 
Blood (#8A0303), 
Blood Red (#660000), 
Root Beer (#260703) 
Tuscany (#C89498)
Zombie Skin (#415E3C)
Jungle (#4A7842)
Moss Green (#81913F)
Summer Wheat yellow (#DBC667)
Purple (#332335)

.*/

html,
body {
    box-sizing: border-box;
    height: 100vh;
}

#page-content {
    flex: 1 0 auto;
}


/* nav bar */

.navbar {
    background-color: #422020;
}

.navbar a {
    text-decoration: none;
    color: #b5b69c;
}

.navbar a:hover {
    color: #7d7e73;
}


/* footer */

#sticky-footer {
    flex-shrink: none;
    background-color: #422020;
}

.fa-facebook-square,
.fa-envelope-square,
.fa-instagram,
.fa-pinterest-square {
    color: #b5b69c;
    padding-right: 10px;
}


/* home page */

.col-lg-6 {
    padding: 50px;
}

.homePage {
    background-color: #DBC667;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 120px;
}

.homePage h1,
p {
    color: #260703;
}


/* log in page */

.togglePwd {
    cursor: pointer;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login div {
    width: 25%;
    margin-bottom: 20px;
    text-align: center;
}

.login button {
    width: 100px;
}


/* register page */

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form input {
    width: 30%;
    margin-bottom: 20px;
    padding: 5px 10px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-radius: 3px;
    color: #495057;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.register-form div {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
}

.register-form button {
    width: 100px;
    margin: 20px;
}


/* catalog page */

.catalog img {
    width: 100%;
}

.catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.catalog a {
    color: #260703;
}

.catalog div {
    width: 25%;
}


/* user profile */

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #DBC667;
<<<<<<< HEAD
    width: 20%;
    height: 100vh;
=======
    width: 15%;
    height: 100%;
>>>>>>> a7e6776835c706d5451d7d2392de40b65c42a809
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.tab button.active {
    background-color: rgb(177, 158, 75);
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    border-left: none;
    height: 100%;
    display: none;
}

.tablinks.fa {
    width: 20px;
}