<div class="catalog">
{{#each gadgets}}
<div class="shopGadget">
<a href="/shop/gadgetDetail?gadget={{_id}}"></a>
<img src="{{icon}}">
<h5>{{name}}</h5>
<p>{{price}} <i class="fas fa-brain fa-2x"></i></p>
</div>
{{/each}}
</div>