<div class="search">
    <form class="search-form" action="/shop/zombies" method="POST">
        <input name="zombieType" type="text" placeholder="Search for zombies...">
        <input type="submit" value="Search">
    </form>
</div>

<div class="catalog">
    {{#each zombie}}
    <div class="eachZombie">
        <div class="image">
        <img src="{{image}}">
        </div>
        <div>
        <a href="/shop/zombies?zombie_id={{_id}}"><p>Zombie Type: {{type}}</p></a>
        <p><span>{{price}}</span> <i class="fas fa-brain fa-2x"></i></p>
        </div>
    </div>
    {{/each}}
</div>
