<div class="search">
    <form class="search-form" action="/shop/zombies" method="POST">
        <input name="zombieType" type="text" placeholder="Search for zombies...">
        <input type="submit" value="Search">
    </form>
</div>

<div class="catalog">
    {{#each zombie}}
    <div class="shopZombie">
        <a href="/shop/zombieDetail?zombie_id={{_id}}"></a>
        <h2>{{type}}</h2>
        <div class="imageWrap">
            <img src="{{image}}">
        </div>
        <div>
            <p><span>{{price}}</span> <i class="fas fa-brain"></i></p>
        </div>
    </div>
    {{/each}}
</div>